
/*+++++++++++++++++++++content-down */



.content-down-L {
    float: left;
    width: 655px;
}

.content-down-R {
    float: right;
    width: 285px;
}


/*++++++++++++*/

/*录课历史 */
.historyClasslist{
    width: 100%;
    margin-bottom: 10px;

}
.historyClasslist-title{
    margin-bottom: 30px;
    border-left: 5px solid #199ca6;
    padding-left: 20px;
}
.historyClasslist ul{
     border-bottom: 1px solid #ccc;
   
}
.historyClasslist li{
        list-style: none;
    height: 85px;
    padding: 20px 0;
    border-top: 1px solid #ccc;
}
.historyClassInfoBox{
    width: 400px;
    height: 100%;
    float: left;
    position: relative;
}
.historyClassAction{
        float: right;
    height: 100%;
    width: 160px;
    position: relative;
}
.historyClassInfoBox-Div{
        float: left;
    height: 100%;
    width: 230px;
    position: relative;
}
.historyClassInfoBox_news2_outer {
    height: 19px;
    width: 15px;
    overflow: hidden;
    float: left;
        margin-top: 5px;
        margin-right: 5px;
        cursor: pointer;
}


.historyClassInfoBox-className{
        font-size: 19px;
    color: #48596c;
    cursor: pointer;
}
.historyClassInfoBox-classTime{
        position: absolute;
    bottom: 0;
    left: 5px;
    color: #8b8b8b;
    font-size: 14px;
}
.historyClassInfoBox-writter{
        position: absolute;
    right: 0;
    bottom: 0;
    color: #8b8b8b;
    font-size: 14px;
}
.historyClassAction-download{
        position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid;
    cursor: pointer;
}
.historyClassAction-download:hover {
    background: #EDE4E4;
}
.historyClassAction-download span{
      font-size: 20px;
    letter-spacing: 3px;  
}
/*录课历史  end*/

