* {
    padding: 0;
    margin: 0;
    font-family: "微软雅黑"
}


/*头部样式*/

body {
    min-width: 680px
}

#header {
    height: 24px;
    width: 600px;
    display: block;
    float: right;
    margin-bottom: 80px;
    position: relative;
}

#headerlist {
    float: right;
    margin: 20px;
    margin-bottom: 0;
}

#headerlist li {
    list-style: none;
    float: left;
    position: relative;
    width: 55px;
    /*相对定位*/
}

#headerlist li a {
    font-size: 13px;
    color: black;
    height: 24px;
    line-height: 24px;
    display: block;
}

#headerlist li a:hover {
    color: #00c;
}

#headerlist li a.headerlist_a {
    font-weight: bold;
}

#headerlist li a#headerlist_more {
    padding: 0 5px;
    background: #38f;
    color: white;
    text-decoration: none;
    width: 55px;
}

/*#headerlist li a#headerlist_more:hover {
    background: white;
    font-weight: bold;
    color: black;
}*/


/*#################设置选项样式##################*/

#set ul {
    position: relative;
    left: -18px;
    display: none;
}

#set:hover ul {
    display: block;
}

#set ul li {
    float: none;
    width: 55px;
    background: #eee;
    font-size: 13px;
    padding: 5px 7px;
    box-shadow: 0 5px 10px #9C9C9C;
    cursor: pointer;
}

#set ul li:hover {
    background: #38f;
    color: white;
}

#set ul #set_div {
    border-width: 0px 6px 10px 6px;
    border-style: solid;
    border-color: transparent transparent #cccccc transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    width: 0;
    height: 0;
    margin-left: 27px;
}

#set ul #set_div2 {
    border-width: 0px 6px 10px 6px;
    border-style: solid;
    border-color: transparent transparent #eee transparent;
    width: 0;
    height: 0;
    margin-left: 27px;
    margin-top: -116px;
}


/*侧边菜单样式#############################*/

#more_tips {
    width: 100px;
    background: rgba(238, 238, 238, 0.44);
    position: absolute;
    right: 0px;
    display: none;
    box-shadow: 0 3px 9px;
}

#more_tips ul {
    margin-top: 70px;
    margin-left: 5px;
    list-style: none;
    height: 100%;
}

#more_tips ul li {
    margin: 10px;
    font-size: 10px;
    text-align: center;
    border-top: 1px solid #E2E2E2;
    padding-top: 20px;
    padding-bottom: 10px;
}

#more_tips ul li a {
    text-decoration: none;
}

#more_tips ul li a img {
    display: block;
    margin-bottom: 5px;
    margin-left: 20px;
}

#more_tips ul li:hover {
    background: #eee;
    box-shadow: 0 4px 21px -5px;
}


/*头部样式结束*/


/*Logo样式*/

#banner {
    height: 140px;
    width: 300px;
    display: block;
    margin: 0 auto;
    clear: both;
}

#banner img {
    width: 270px;
    height: 129px;
}


/*Logo样式结束*/


/*页面内容样式*/

#content {
    height: 240px;
    text-align: center;
}

#con_inp {
    margin: 22px auto 44px auto;
    min-width: 640px;
    height: 38px;
}

#con_txt {
    width: 533px;
    border-right: 0;
    font-size: 14px;
    height: 32px
}

#con_txt:focus {
    border: 0px;
    height: 34px;
    padding-left: 10px;
}

#con_sub {
    width: 100px;
    height: 36px;
    font-size: 14px;
    background: #3385ff;
    color: white;
    cursor: pointer;
    border: 1px solid #3385ff;
    margin-left: -10px;
}

#con_sub:hover {
    background: #2B78EA
}

#content a {
    font-size: 13px;
    color: #666;
    width: 200px;
}


/*页面内容样式结束*/


/*底部内容样式*/

#footer {
    text-align: center;
    font-size: 12px;
    color: #666;
    margin: 0 auto;
    margin-top: 100px;
    height: 100px;
    width: 400px;
}

#footer ul li {
    display: inline;
    list-style: none;
    color: #00c;
    margin: 10px;
}

#footer p a {
    color: #666;
}
