* {
    padding: 0;
    margin: 0
}

body {
    font: 12px arial;
}

#wrapper {
    width:100%;
    min-width: 810px;
    height: 100%;
    min-height: 850px;
    position: relative;
}

#head {
    position: relative;
    padding-bottom: 0;
    height: 100%;
    min-height: 600px;
    text-align: center;
}

#head .head_wrapper {
    height: 100%;
}

.s_form {
    position: relative;
    top: 38.2%;
}


@media screen\0 {
    .s_form_wrapper {
        position: relative;
        top: 160px;
    }
}

@media screen\9 {
    .s_form_wrapper {
        position: relative;
        top: 100px;
        /* ie 6/7 - for ie7 */
    }
}


/*/*搜索框*##################/*/

#form {
    margin: 22px auto 0;
    width: 641px;
    text-align: left;
    z-index: 100;
    position: relative;
}

#form .f_ipt {
    position: relative;
    border: 1px solid #b6b6b6;
    display: inline-block;
    width: 535px;
    margin-right: 0;
    border-right-width: 0;
    border-color: #b8b8b8 transparent #ccc #b8b8b8;
    height: 34px;
}

#form .f_ipt .ipt {
    position: relative;
    width: 500px;
    height: 22px;
    font: 16px/18px arial;
    margin: 6px 0 0 7px;
    background: transparent;
    outline: 0;
    border: 0;
}

#form .f_btn {
    border-bottom: 1px solid transparent;
    display: inline-block;
    background-position: -120px -48px;
    height: auto;
    width: auto;
    vertical-align: top;
}

.f_ipt:focus {
    border-color: blue;
}

#form .f_btn .btn {
    width: 100px;
    height: 36px;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    background: #3385ff;
    border: 1px solid #2d78f4;
    outline: medium;
    background-position: 0 -48px;
    cursor: pointer;
    margin-left: -4px;
    z-index: 10;
}

#form .f_btn .btn:hover {
    background: #2C71D8
}


/*#########################*/


/*导航栏*######################*/

#headerlist {
    z-index: 2;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    margin: 19px 0 5px 0;
}

#headerlist ul {
    float: left;
    width: 463px;
    /* ie 8/9/10/Opera - for ie8/ie10/Opera */
    width: 465px;
    /* ie 9/10 - for ie9/10 */
}

#headerlist li {
    list-style: none;
    float: left;
    position: relative;
    display: inline-block;
    margin-left: 5px;
}

#headerlist li a {
    font-size: 13px;
    color: black;
    height: 24px;
    line-height: 24px;
    margin-right: 20px;
    float: left;
}

#headerlist li a:hover {
    color: #00c;
}

#headerlist li a.headerlist_a {
    font-weight: bold;
}

#headerlist li a#headerlist_more {
    background: #38f;
    color: white;
    text-decoration: none;
    width: 80px;
    text-align: center;
    margin-right: 2px;
}


/*#############################3*/


/*设置下拉菜单栏####################*/

#set {
    position: absolute;
}


/*ie8,9*/

@media screen\0 {
    #set ul {
        position: absolute;
        left: 308px;
        top: 17px;
        z-index: 7;
        width: 61px;
    }
}


/*ie7*/

@media screen\9 {
    #set ul {
        position: absolute;
        left: -167px;
        top: 17px;
        z-index: 7;
        width: 61px;
    }
}

#set ul li {
    float: none;
    width: 55px;
    background: #eee;
    font-size: 13px;
    padding: 5px 7px;
    cursor: pointer;
    list-style: none;
    color: black;
}

#set ul li:hover {
    background: #38f;
    color: white;
}

#set ul #set_div {
    border-width: 0px 6px 10px 6px;
    border-style: solid;
    border-color: transparent transparent #eee transparent;
    width: 0;
    height: 0;
    margin-left: 27px;
}


/*###################################*/


/*右边栏样式#################################*/

#more_tips {
    width: 90px;
    background: rgba(238, 238, 238, 0.44);
    position: absolute;
    right: 0px;
    top: 0px;
    box-shadow: 0 3px 9px;
    height: 100%;
    z-index: 10;
}

#more_tips ul {
    margin-top: 60px;
    margin-left: 0px;
    list-style: none;
}

#more_tips ul li {
    margin: 10px;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid #E2E2E2;
    padding-top: 10px;
}

#more_tips ul li .more_tips_a {
    text-decoration: none;
}

@media screen\0 {#more_tips ul li .more_tips_a img {
    display: block;
    margin-bottom: 5px;
    margin-left: 16px;
    border: 0;
}
}
@media screen\9 {#more_tips ul li .more_tips_a img {
    display: block;
    margin-bottom: 5px;
    margin-left: 0px;
    border: 0;
}
}

#more_tips #all {
    display: block;
    height: 30px;
}

#more_tips ul li:hover {
    background: #eee;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    ;
}


/*///////////################///////*/
/*底部样式*/
#ftcon {
    height: 100px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    z-index: 0;
    overflow: hidden;
}

#ftcon ul li {
    display: inline;
    list-style: none;
    color: #00c;
    margin: 10px;
}

#ftcon p,
#ftcon p a {
    color: #666;
}

#ftcon li a {
    color: #00c;
}
