* {
    padding: 0;
    margin: 0;
}

#wrapper {
    font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif;
}


/*头部————————————————————————————————————————————————————————————————————————————————————————*/

#header {
    width: 1000px;
    min-height: 50px;
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
}

#header #wrap {
    position: relative;
    z-index: 1200;
    height: 50px;
    width: 1000px;
}

#header img {
    float: left;
    width: 113px;
    margin-top: 5px;
}

.search-section {
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin: 10px 0 0 -190px;
    width: 380px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 2000;
}

.search-section .search-text {
    width: 100%;
    padding: 9px 150px 9px 15px;
    line-height: 18px;
    color: #333;
    background: #fff;
    font-size: 12px;
    text-align: left;
    border: 1px solid #dfdfdf;
    outline: none;
}

.search-section .search-btn {
    position: absolute;
    top: 0px;
    right: 1px;
    width: 40px;
    height: 38px;
    border: 1px solid #dfdfdf;
    color: #6d6d6d;
    background: url(img/fangdajing.png) center center no-repeat;
    cursor: pointer;
}

.search-section .hot-words {
    position: absolute;
    top: 9px;
    right: 48px;
    font-size: 12px;
}

.search-section .keyword-list {
    position: absolute;
    left: -1px;
    top: 37px;
    z-index: 2100;
    width: 380px;
    padding: 15px 0;
    border: 1px solid #e4e4e4;
    border-top: 0;
    background: #FFF;
    display: none;
}

.search-section .hot-words a {
    display: inline-block;
    padding: 1px 3px;
    margin-left: 5px;
    color: gray;
    background: #f3f3f3;
}

#header .loginbox,
#header .loginbox_event {
    float: right;
    text-align: right;
    line-height: 50px;
    font-size: 12px;
    color: #333;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.my-massage2 {
    background: url(img/xinxi.gif) left center no-repeat;
    background-size: 15px 13px;
    box-sizing: content-box;
    display: inline-blockwidth: 50px;
    text-align: left;
    padding-left: 12px;
    position: relative;
    cursor: pointer;
}

#header .loginbox em,
#header .loginbox_event em {
    padding: 0 10px;
}

.loginbox a {
    text-decoration: none;
    color: black;
}


/*分割线___________________________________________________________*/

#loading {
    width: 100%;
    height: 2px;
    overflow: hidden;
    background: #f3f3f3;
}

#loading .loading-length {
    height: 2px;
    overflow: hidden;
    background: #35b558;
    background: -webkit-gradient(linear, 10% 10%, 100% 100%, color-stop(0.14, #35b550), color-stop(0.5, #8aca8c), color-stop(1, #2d85ca));
}


/*导航栏————————————————————————————————————————————————————————————————————————*/

#nav {
    height: 42px;
    width: 100%;
    z-index: 1100;
    background: #fff;
    background: rgba(255, 255, 255, .9);
    border-bottom: 1px solid #e8e8e8;
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
    -moz-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
}

#nav a {
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

#nav li:hover a {
    color: #35b558
}

#navbox {
    height: 42px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

#navbox .nav1 {
    float: left;
    position: relative;
}

#navbox .nav2 {
    float: right;
    position: relative;
}

.nav1 li {
    margin-right: 40px;
    position: relative;
}

.nav1 img {
    width: 14px;
    height: 15px;
    position: absolute;
    z-index: 2000;
    right: -15px;
    top: 3px;
    display: block;
}

.nav2 li {
    margin-left: 40px;
    position: relative;
}

.nav img {
    margin-left: 5px;
    vertical-align: middle;
}

#navbox li {
    list-style: none;
    float: left;
    line-height: 42px;
}


/*主内容区域————————————————————————————————————————————————————————————————————————————————————*/

.w-1000 {
    width: 1000px;
    margin: 0 auto;
}

.mar-t20 {
    margin-top: 20px;
}

.mar-t30 {
    margin-top: 30px;
}


/*#p-part1 -----------------------------------------------------------------------------------------{}*/

#p-part1 {
    height: 307px;
}

#part1-l {
    position: relative;
    width: 210px;
    float: left;
    border-top: 2px solid #35b558;
    border-right: 0;
    height: 307px;
    /*    background: yellow;*/
    overflow: hidden;
}

#part1-l li {
    border-right: 1px solid #D1D1D1
}

#part1-l a {
    color: #585858;
    text-decoration: none
}

#part1-l li:hover .part1-lda {
    color: #35B558;
}

.lesson-list-show a:hover {
    color: #35B558 !important
}

.lesson-list-show a {
    margin: 5px;
}

.line {
    position: absolute;
    z-index: 2000;
    height: 9px;
    width: 210px;
    background: #f9f9f9 url(img/daosanjiao.png) center center no-repeat;
    background-size: 7px 3px;
    bottom: 0;
    border: 1px solid #e4e4e4;
    border-top: 0;
}

#part1-l ul {
    list-style: none;
    border-left: 1px solid #E4E4E4;
    background: white;
}

#part1-l .part1-ld1 {
    width: 208px;
    height: 37px;
    line-height: 37px;
    padding: 0 15px;
    font-size: 13px;
    color: #333;
    border-bottom: 1px solid #F5F5F5;
    background: url(img/yousanjiao.png) 186px center no-repeat;
    background-size: 6px 10px;
    cursor: pointer;
    font-weight: 400;
}

#part1-m {
    width: 570px;
    height: 307px;
    float: left;
    margin-left: 10px;
    background: #ccc;
    border: 1px solid #e4e4e4;
    border-right: 0;
    position: relative;
}

#part1-m:hover #banner-left1,
#part1-m:hover #banner-right1 {
    opacity: 1;
}

#banner-left1,
#banner-right1 {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
}

#part1-m img:hover {
    cursor: pointer;
}

#part1-r {
    float: left;
    border: 1px solid #E4E4E4;
    height: 307px;
    width: 205px;
    overflow: hidden;
    z-index: 20;
}

.free-box {
    height: 153px;
    border-bottom: 1px solid #e4e4e4;
}

.free-box a {
    padding: 20px;
    display: block;
}

#part1-r a {
    text-decoration: none;
}

#part1-r h2 {
    font-size: 15px;
    color: #666;
    font-weight: 400;
}

#part1-r p {
    color: #35b558;
    font-size: 12px;
    margin: 15px auto;
    line-height: 1.8;
}

.greenbtn3 {
    width: 168px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    border-radius: inherit;
    margin-top: 10px;
    cursor: pointer;
    background: #7bda95;
    outline: none;
    border: 0;
    color: white;
    transition: border-color 1s, background 1s;
    font-weight: bold;
}

.greenbtn3:hover,
.greenbtn2:hover {
    background: #35b558;
    color: #fff;
    border-color: #35b558;
}

.greenbtn2 {
    width: 168px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    border-radius: inherit;
    margin-top: 10px;
    cursor: pointer;
    border-color: #7bda95;
    outline: 0;
    color: #58C275;
    border: 1px solid #58C275;
    background: #F3FFF6;
    transition: border-color 1s, background 1s;
    font-weight: bold;
}


/*隐藏部分*/


/*移动开发*/

.lesson-list-show {
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
    overflow: hidden;
    /*    width: 108px;*/
    min-height: 410px;
    width: 401px;
    min-height: 447px;
    background: #fff;
    border: 1px solid #e4e4e4;
    position: absolute;
    left: 210px;
    top: -2px;
    z-index: 109990;
    border-left: 0;
    padding-bottom: 30px;
}

.lesson-list-show dl dd a {
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    /* margin-right: 5px; */
    padding: 0 5px;
    font-size: 12px;
}

.lesson-list-show dl {
    padding-left: 10px;
}

.lesson-list-show dl dt {
    border-bottom: 1px solid #E4E4E4;
    font-size: 14px
}

.lesson-list-show dd a:hover {
    color: #35b558
}

.show1,
.show2,
.show3,
.show4,
.show5,
.show6,
.show7,
.show8,
.show9,
.show10,
.show11 {
    display: none;
}

#part1-l ul li {
    z-index: 999999;
}


/*.pl-9,
.pl-10,
.pl-11 {
    display: none;
}
*/


/*移动banner*/

.pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 15px;
    width: 100%;
    z-index: 800;
}

.swiper-pagination-bullet {
    display: inline-block;
    width: 39px;
    height: 7px;
    background: url(http://s1.jikexueyuan.com/index/images/swiper1_6a811bf.jpg) center center no-repeat;
    margin: 0 6px;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background: url(http://s1.jikexueyuan.com/index/images/swiper2_78fab30.jpg) center center no-repeat;
}

#banner-right1 {
    position: absolute;
    right: 0;
    top: 150px;
    margin-top: -25px;
    z-index: 800;
    cursor: pointer;
}

#banner-left1 {
    position: absolute;
    left: 0;
    top: 150px;
    margin-top: -25px;
    z-index: 800;
    cursor: pointer;
}

/*#banner2,
#banner3,
#banner4 {
    display: none;
}

.banner1,
.banner2 {
    float: left;
    position: absolute;
    z-index: 0;
}

.banner1 {
    top: 0;
    left: 0;
}

.banner2 {
    left: 570px;
    z-index: -10;
    opacity: 0;
}
*/

/*part2-----------------------------------------------------------------------------------------------------*/

#p-part2 {
    /* background: yellow;*/
}

#p-part2 ul {
    list-style: none;
    height: 41px;
    background: url(http://s1.jikexueyuan.com/index/images/hotnav_bc_f22b37e.jpg) 0 100% repeat-x;
}

#p-part2 ul li {
    width: 16.6%;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #666;
    padding: 10px 0;
    cursor: pointer;
}

#p-part2 ul li:hover {
    border-bottom: 2px solid #35b558;
    color: #35b558;
}


/*part3________________________________________________________________________________*/

#p3-1 {
    /* background: yellow;*/
}

#p3-1 ul {
    list-style: none;
    width: 1100px;
    height: 480px;
}

#p3-1 ul li {
    float: left;
    margin-right: 20px;
    background: 0 0;
    margin-bottom: 20px;
    height: 220px;
    width: 235px;
    background: green
}

.lessonimg-box {
    border: 1px solid #e4e4e4;
    border-bottom: 0;
    width: 235px;
    height: 130px;
    position: relative;
    background: yellow;
}

.lessonimg-box:hover .lessonplay {
    opacity: 1;
}

.lessonimg-box:hover .lesson-shoucang {
    opacity: 1;
}

.lesson-infor {
    border: 1px solid #e4e4e4;
    border-top: 0;
    background: #fff!important;
    /*    height: 88px;*/
    padding: 10px;
    position: relative;
    z-index: 200;
}

.lesson-shoucang {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 16px;
    height: 16px;
    background: url(img/shoucang.png);
    background-size: 16px 16px;
    z-index: 101;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
}

.lessonimg {
    width: 100%;
    height: 130px;
    vertical-align: middle;
}

.lessonplay {
    background: #000;
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
}

.playericon {
    position: absolute;
    z-index: 120;
    width: 50px;
    height: 50px;
    display: block;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
    background: url(img/bofang.png) 0 0 no-repeat;
    cursor: pointer;
    background-size: 50px 50px;
}

.lesson-info-h2 {
    font-size: 14px;
    color: #333;
    line-height: 18px;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
}

.lesson-info-h2 a {
    text-decoration: none;
    font-size: 14px;
    color: #333;
}

.lesson-infor p {
    color: gray;
    font-size: 12px;
    line-height: 18px;
    /* height: 0; */
    overflow: hidden;
    /* opacity: 0; */
    margin-bottom: 10px;
    display: none;
}

.timeandicon {
    font-size: 12px;
    color: gray;
    position: relative;
    height: 30px;
}

.timeandicon dl {
    width: 120px;
    float: left;
    white-space: nowrap;
}

.timeandicon dl dd {
    font-size: 12px;
}

.timeandicon .time-icon {
    background: url(img/zhong.png) 0 0 no-repeat;
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 8px;
    background-size: 14px 14px;
}

.timeandicon .xinhao-icon2 {
    background: url(img/jibie.png) 0 0 no-repeat;
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 8px;
}

.timeandicon .learn-number {
    float: right;
    display: none;
}

.lessonicon-box {
    position: absolute;
    right: 0;
    text-align: right;
    bottom: 4px;
}

.lessonicon-box a {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 3px;
}

.lessonicon-box a img {
    display: block;
    width: 16px;
    height: 16px;
}


/*part4____________________________________________________________________________________*/

#p-part4 {
    height: 640px;
}

.part4title {
    margin-bottom: 16px;
    height: 24px;
    width: 1000px;
}

.part4title strong a {
    font-size: 18px;
    color: #333;
    float: left;
    font-weight: 500;
    text-decoration: none
}

.more-lesson {
    font-size: 12px;
    color: #2d85ca;
    float: right;
    margin-top: 4px;
    text-decoration: none
}

.way {
    font-size: 12px;
    line-height: 13px;
    color: #fff;
    background: #999;
    text-align: center;
    border-radius: 50%;
    display: block;
    width: 13px;
    height: 13px;
    float: left;
    margin: 7px 8px 0;
    cursor: pointer;
}

.part4content ul {
    list-style: none;
    width: 996px;
    height: 600px;
    /*    background: yellow;*/
    border-right: 1px solid #E4E4E4;
    border-top: 1px solid #e4e4e4;
}

.part4content a {
    text-decoration: none
}

.part4content ul li {
    float: left;
    width: 199px;
    border: 1px solid #E4E4E4;
    text-align: center;
    display: block;
    height: 300px;
    overflow: hidden;
    margin: 0 -1px;
}

.part4content ul li:hover {
    border: 1px solid #35B558;
}

.part4content ul li img {
    height: 118px;
    margin-bottom: 24px;
    vertical-align: middle;
}

.part4content ul li h2 {
    font-size: 15px;
    color: #333;
    margin-bottom: 20px;
    height: 18px;
    overflow: hidden;
}

.part4content ul li p {
    font-size: 12px;
    color: #666;
    line-height: 20px;
    height: 20px;
    width: 199px;
    overflow: hidden;
}

.wbtn {
    width: 168px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    border-radius: inherit;
    margin-top: 10px;
    cursor: pointer;
    outline: 0;
    background: #f5f5f5;
    transition: border-color 1s, background 1s;
    font-weight: bold;
    color: gray;
    border: 1px solid #e4e4e4;
}

.wbtn:hover {
    background: #DFDDDD
}


/*part5__________________________________________________________________________________________________*/

#p-part5 {
    /* width: 1105px;*/
    height: 521px;
}

.mar-t40 {
    margin-top: 40px!important;
    /*background: yellow;*/
}

#p-part5 table {
    border-collapse: collapse;
}

#p-part5 td {
    width: 163px;
    height: 120px;
    border: 1px solid #E4E4E4;
    float: left;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-collapse: collapse;
}

#p-part5 td:hover {
    border: 1px solid #35b558;
}

#p-part5 td .front {
    width: 167px;
    height: 120px;
    border-bottom: 1px solid #E4E4E4;
    padding: 15px 0;
    z-index: 2;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.in {
    -webkit-animation: flipInY 1s .2s ease both;
    -moz-animation: flipInY 1s .2s ease both;
}

@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(180deg);
        opacity: 0
    }
    100% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        opacity: 1
    }
}

@-moz-keyframes flipInY {
    0% {
        -moz-transform: perspective(400px) rotateY(180deg);
        opacity: 0
    }
    100% {
        -moz-transform: perspective(400px) rotateY(0deg);
        opacity: 1
    }
}

.out{
    -webkit-animation: flipOutY 1s .2s ease both;
    -moz-animation: flipOutY 1s .2s ease both;
}

@-webkit-keyframes flipOutY {
    0% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        opacity: 1
    }
    100% {
        -webkit-transform: perspective(400px) rotateY(-180deg);
        opacity: 0
    }
}

@-moz-keyframes flipOutY {
    0% {
        -moz-transform: perspective(400px) rotateY(0deg);
        opacity: 1
    }
    100% {
        -moz-transform: perspective(400px) rotateY(-180deg);
        opacity: 0
    }
}

.front img {
    margin-bottom: 5px;
    height: 40px;
    width: 40px;
    vertical-align: middle;
}

.front h2 {
    margin-bottom: 5px;
    font-size: 15px;
    color: #333;
}

.front span {
    font-size: 14px;
    color: #35b558;
}

#p-part5 td .back {
    padding-top: 30px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #E4E4E4;
    width: 167px;
    height: 120px;
}

#p-part5 td .back strong {
    text-decoration: none
}


/*
#p-part5 td .back1 {
    -webkit-animation: flipInY 1s .2s ease both;
    -moz-animation: flipInY 1s .2s ease both;
}

@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        opacity: 0
    }
    40% {
        -webkit-transform: perspective(400px) rotateY(-10deg)
    }
    70% {
        -webkit-transform: perspective(400px) rotateY(10deg)
    }
    100% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        opacity: 1
    }
}

@-moz-keyframes flipInY {
    0% {
        -moz-transform: perspective(400px) rotateY(90deg);
        opacity: 0
    }
    40% {
        -moz-transform: perspective(400px) rotateY(-10deg)
    }
    70% {
        -moz-transform: perspective(400px) rotateY(10deg)
    }
    100% {
        -moz-transform: perspective(400px) rotateY(0deg);
        opacity: 1
    }
}

#p-part5 td .back2  {
    -webkit-animation: flipOutY 1s .2s ease both;
    -moz-animation: flipOutY 1s .2s ease both;
}

@-webkit-keyframes flipOutY {
    0% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        opacity: 1
    }
        40% {
        -webkit-transform: perspective(400px) rotateY(10deg)
    }
    70% {
        -webkit-transform: perspective(400px) rotateY(-10deg)
    }
    100% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        opacity: 0
    }
}

@-moz-keyframes flipOutY {
    0% {
        -moz-transform: perspective(400px) rotateY(0deg);
        opacity: 1
    }
      40% {
        -moz-transform: perspective(400px) rotateY(10deg)
    }
    70% {
        -moz-transform: perspective(400px) rotateY(-10deg)
    }
    100% {
        -moz-transform: perspective(400px) rotateY(90deg);
        opacity: 0
    }
}*/

.back strong {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    font-weight: 400;
}

.back .greenbtn {
    font-size: 16px;
    color: #fff;
    text-align: center;
    width: 140px;
    height: 36px;
    cursor: pointer;
    background: #35b558;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
}


/*part6_________________________________________________________________________________________________________*/

.part6content {
    width: 1000px;
    height: 412px;
}

.part6content a {
    text-decoration: none
}

#p-part6 .contentul {
    list-style: none;
}

#p-part6 .contentli {
    float: left;
    width: 333.3px;
    height: 370px;
    /*  padding: 15px;*/
    border: 1px solid #e4e4e4;
    margin: -1px;
}

#p-part6 .contentli:hover {
    border-color: #35b558
}

.part6content dl dd {
    text-align: center;
    width: 142px;
    float: left;
    margin-left: 20px;
}

.part6content dl dd h3 {
    font-size: 13px;
    color: #333;
    height: 13px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 13px;
    margin: 10px auto;
}

.part6content dl dd span {
    font-size: 12px;
    color: #999;
    display: block;
    margin-bottom: 15px;
}

#p-part6 .contentul li h2 {
    font-size: 14px;
    font-weight: 500;
}

.mar-t10 {
    margin-top: 10px!important;
}

.wikiul {
    margin-top: 10px;
}

.part6content .contentul .wikiul .wikili {
    font-size: 12px;
    color: #999;
    line-height: 12px;
    margin-bottom: 8px;
    display: block;
    float: left;
}

.wikiul li a {
    color: #999;
}

.wikiul li p {
    width: 200px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.wikiul li span {
    text-align: right;
    display: block;
    float: right;
    width: 90px;
}


/*part6_______________________________________________________________________*/

.strategy {
    border: 1px solid #E4E4E4;
    height: 90px;
    padding: 20px;
    position: relative;
    width: 960px;
    overflow: hidden;
}
.strategy:hover #banner-left3,.strategy:hover #banner-right3{
opacity: 1
}
#banner-left3 {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -25px;
    z-index: 800;
    /*display: none;*/
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
}

.arrow-left {
    background: url(http://s1.jikexueyuan.com/index/images/banner-left_fe0df34.png) -10px -5px no-repeat;
    width: 40px;
    height: 50px;
    display: block;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
}

#banner-right3 {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -25px;
    z-index: 800;
    /*display: none;*/
    cursor: pointer;
    opacity: 0;
}

.arrow-right {
    background: url(http://s1.jikexueyuan.com/index/images/banner-right_a0bdd7d.png) -10px -5px no-repeat;
    width: 40px;
    height: 50px;
    display: block;
    overflow: hidden;
}

.strategy ul {
    list-style: none;
    margin-top: 19px;
    height: 52px;
}

.strategy li {
    float: left;
    width: 159.667px !important;
    height: 50px;
    list-style: none;
}

.strategy li img {
    height: 50px;
    width: 150px;
    border: 1px solid #e4e4e4;
}


/*part8_______________________________________________________________________*/
.p8li{
       float: left;
    list-style: none;
    margin-left: 25px
}
.school  a {
    width: 136.857px;
}

.school  ul li {
    float: left;
    list-style: none;
    margin-left: 25px;
}

.school  ul img {
    width: 110px;
    height: 110px;
}

.school {
    border: 1px solid #E4E4E4;
    height: 90px;
    padding: 20px;
    position: relative;
    width: 960px;
    overflow: hidden;
}
.school:hover #banner-left3,.school:hover #banner-right3{
    opacity: 1
}
#w-banner{
    width: 100%;
    overflow: hidden;
}
/*杂类*/
.fengmian{
    position: relative;
}
.imgbox{
    background: #B7B7B7;
    height: 190px;
    margin-bottom: 20px;
}
/*footer________________________________________________________*/

#footer {
    min-width: 1000px;
    margin-top: 50px!important;
}

#footer .jkinfor-block {
    background: #fafafa;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #e4e4e4;
}

#footer .jkinfor-block .jkinfor {
    width: 1000px;
    margin: 0 auto;
    height: 251px;
    /*    min-height: 200px;*/
}

#footer .jkinfor dl {
    width: 142px;
    padding-left: 30px;
    color: gray;
    margin: 25px 0;
    float: left;
    border-left: 1px solid #E4E4E4;
    min-height: 175px;
}

#footer .search-share {
    width: 224px;
    float: left;
    min-height: 226px;
    border-left: 1px solid #E4E4E4;
    padding: 22px 0 0 36px;
}

#footer .jkinfor dl dt {
    font-size: 14px;
    color: #666;
    font-weight: 500;
    font-size: 12px;
}

#footer .jkinfor dl dd {
    font-size: 12px;
    margin-top: 10px;
}

#footer .jkinfor a {
    color: gray;
    padding-left: 5px;
    font-size: 13px;
    text-decoration: none;
}

#footer .jkinfor a:hover {
    color: #35b558;
}


/*#footer .search-share .jktxt {
    font-size: 15px;
    color: #35b558;
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
}
#footer .search-share .share {
    margin-top: 15px;
}
#footer .kefu-online {
    margin-top: 15px;
    padding-left: 35px;
}
#footer .search-share .app-download img {
    display: block;
    float: left;
    margin-right: 15px;
}
#footer .search-share .app-download strong {
    font-size: 18px;
    color: #666;
    margin-bottom: 8px;
}
#footer .search-share .app-download p {
    font-size: 14px;
    color: gray;
    background: url(http://s1.jikexueyuan.com/common/images/more-icon_d39346f.png) 160px center no-repeat;
    background-size: 7px 13px;
}
#footer .search-share .share a {
    background: url(http://s1.jikexueyuan.com/common/images/icon_7f8b929.png) -23px 0 no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    position: relative;
}
#footer .search-share .share a.tieba-icon {
    background-position: -145px 0;
}
#footer .search-share .share a {
    background: url(http://s1.jikexueyuan.com/common/images/icon_7f8b929.png) -23px 0 no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    position: relative;
}
#footer .search-share .share a.qq-icon .weinxinpop {
    position: absolute;
    bottom: 32px;
    left: -48px;
    z-index: 200;
    display: none;
}
#footer .kefu-online {
    margin-top: 15px;
    padding-left: 35px;
}
#footer .jkinfor a {
    color: gray;
    padding-left: 5px;
}
#footer .kefu-online .kefu-icon {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: -40px;
    background: url(http://s1.jikexueyuan.com/common/images/kefu_8edc734.png) no-repeat -40px 0/80px 40px;
}
#footer .kefu-online h5 {
    color: #666;
    font-size: 14px;
    margin-bottom: 2px;
    line-height: 22px;
    padding-left: 5px;
}
#footer .kefu-online p {
    color: gray;
    font-size: 12px;
    padding-left: 5px;
}*/

.app-download {
    margin-top: 14px;
}

.app-download a img {
    width: 21px;
    float: left;
    margin-right: 28px
}

.ap-div {
    width: 170px;
    height: 50px;
    float: left;
}

.ap-div:hover strong,
.ap-div:hover p {
    color: #35b558;
}

.ap-div strong {
    font-size: 14px;
    color: grey;
    background: url(img/youjiantou.png) 126px center no-repeat;
    background-size: 9px 13px;
    /*    background-color: coral;*/
}

.app-download p {
    font-size: 14px;
    color: gray;
    background: url(img/youjiantou.png) 126px center no-repeat;
    background-size: 7px 13px;
}

*#footer .search-share .jktxt {
    font-size: 15px;
    color: #35b558;
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
}

#footer .search-share .share a {
    background: url(img/sprite1.png) -23px 0 no-repeat;
    width: 28px;
    height: 32px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    position: relative;
}

#footer .search-share .share a:hover {
    background: url(img/sprite1.png) -23px -40px no-repeat;
}

#footer .search-share .share a.tieba-icon:hover {
    background-position: -145px -40px;
}

#footer .search-share .share a.tieba-icon {
    background-position: -145px 0;
}

#footer .search-share .share a.qq-icon {
    background-position: -23px -82px;
}

#footer .search-share .share a.qq-icon:hover {
    background-position: -23px -122px;
}

#footer .search-share .share a.qq-icon:hover .weinxinpop {
    display: block;
}

#footer .search-share .share a.qq-icon .weinxinpop {
    position: absolute;
    bottom: 32px;
    left: -48px;
    z-index: 200;
    display: none;
}

#footer .kefu-online {
    margin-top: 20px;
    ;
    padding-left: 35px;
    width: 219px;
    height: 40px;
}

#footer .search-share .share {
    margin-top: 15px;
    width: 219px;
    height: 32px;
}

#footer .kefu-online .kefu-icon {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: -40px;
    background: url(img/sprite2.png) no-repeat -40px 0/80px 40px;
}

#footer .kefu-online h5 {
    color: #666;
    font-size: 14px;
    margin-bottom: 2px;
    line-height: 22px;
    padding-left: 5px;
}

#footer .kefu-online p {
    color: gray;
    font-size: 12px;
    padding-left: 5px;
}

#footer .copyright {
    font-size: 12px;
    color: #999;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    padding: 20px;
}

#footer .copyright strong {
    font-weight: 400;
}

#footer .copyright a {
    color: #999;
}
