
.nowPage{
	height: 50px;
 background: #3b2a32;
 color: #ccc
}
.nowPage a{
color:#ccc
}
.nowPage a:hover {
	border: 0;
}
.content {
    padding-bottom: 60px!important;
}


/*
banner样式
 */

.bannerMsg {
    position: absolute;
    text-align: center;
    width: 80%;
    bottom: 5%;
    left: 10%;
    font-size: 20px;
    color: white;
}

/*
banner样式 结束
 */

