<?php $this->includes('top')?>
<!------nav start------>
<div class="box_form_default" style=" width:600px;height:360px;margin-left: 60px;margin-right: auto;">
    <div class="box_title_default" style="width:120px;">密码修改</div>
    <br/>
        <form name="exeForm" id="exeForm" action="" method="post" onsubmit="return $().Validator.Validate(this,4);">
      <input type="hidden" name="do" value="/prms/pass">
      <div class="input-group" style="margin-left:50px;">
  <span class="input-group-addon"  style="width: 120px;">原密码：</span>
<input class="form-control" type="password" name="opass" value="<?php print $this->name;?>" size="40" dataType="Require,Limit"  max="20" msg="必填项,密码6-20个字符">
      </div>
      <div class="input-group" style="margin-left:50px;">
  <span class="input-group-addon"  style="width: 120px;">新密码：</span>
<input class="form-control" type="password" name="pass" value="<?php print $this->name;?>" size="40" dataType="Require,Limit"  min="6" max="20" msg="必填项,密码6-20个字符">
      </div>
      <div class="input-group" style="margin-left:50px;">
  <span class="input-group-addon"  style="width: 120px;">再输一次：</span>
<input class="form-control" type="password" name="repass" value="<?php print $this->name;?>" to="pass" size="40" dataType="Require,Limit,Repeat" max="40" msg="必填项,密码最多20个汉字,两次输入的密码不一致">
      </div>
      	
      <div align="center" style="position: relative;margin-top: 50px">
        <input  class="btn-default" style="border: 1px solid #ccc;border-radius: 8px;box-sizing: border-box;width:80px;height:30px;" type="submit" value="提交" class="" />
      </div>
      </form>
    </div>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<?php $this->includes('foot')?>