body {
    padding: 0;
    margin: 0;
}

.wrapper {
    position: relative;
    min-width: 1320px;
}


/*背景样式*/

.bg-img {
    position: absolute;
    top: 0;
    width: 100%;
}

.order {
    position: fixed;
    left: 2%;
    bottom: 20%;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 4px white;
}
.order a:hover{
    /*background: yellow;*/
color: #7D7D40
}
.order a {
    font-size: 2em;
    font-weight: bold;
    color: yellow;
    font-family: 微软雅黑;
    text-decoration: none;
}


/*手机框++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.phone-box {
    position: absolute;
    top: 0;
    right: 5%;
    width: 40%;
}

.phone-box-phone {
    width: 100%;
}


/*口号盒子*/

.slogan-box {
    position: absolute;
    top: 40%;
    width: 80%;
    left: 10%;
}

.slogan-box-slogan {
    width: 60%;
    margin-left: 20%;
}

.slogan-box-arrow {
    position: absolute;
    width: 16%;
    top: 45%;
    left: 4%;
}


/*口号end*/


/*二维码盒子*/

.qrcodes-box {
    /*position: relative;*/
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 0;
}

.qrcodes-box-block {
    width: 100%;
}

.qrcodes-box-zhifubao {
    position: absolute;
    width: 35%;
    left: 11%;
    top: 19%;
}

.qrcodes-box-weixin {
    position: absolute;
    width: 35%;
    right: 14%;
    top: 19%;
}


/*二维码end*/


/*手机框end+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*content++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.content {
    position: absolute;
    /*background: yellow;*/
    top: 0;
    left: 5%;
    width: 50%;
    margin-top: 5%;
}

.content-title img {
    display: block;
    width: 75%;
    margin: 0 auto;
}

.content-article p {
    width: 75%;
    margin: 5% auto 0;
    color: white;
    font-family: "微软雅黑";
    line-height: 2em;
    font-size: 25px;
}

.content-food {
    width: 80%;
    margin: 0 auto;
    position: relative;
    margin-top: 5%;
}

.content-foodBox {
    position: relative;
    width: 30%;
    float: left;
    margin-left: 2%
}

.price {
    width: 100%;
}

.food {
    margin-top: -30%;
    width: 100%;
}

.content-food p {
    color: yellow;
    font-family: "微软雅黑";
    font-size: 20px;
    margin-top: -10%;
}

.content-foodLongBox {
    position: relative;
    width: 45%;
    float: left;
    margin-left: 2%;
    margin-top: 4%;
}

.priceLong {
    width: 80%;
    float: left;
}

.foodLong {
    margin-left: -25%;
    margin-top: -15%;
    width: 40%;
    float: left;
}


/*.priceBox {
    display: block;
    margin: 0 auto;
    width: 70%;
}
*/


/*content end+++++++++++++++++++++++++++++++++++++*/
