
/*header++++++++++++++++++++++++++*/

header .fontSizeBox {
    float: right;
    color: white;
    font-weight: bold;
    font-size: 0.5em;
}

header .fontSizeBox span {
    cursor: pointer;
        margin-right: 10px
}

header .fontSizeBox span:hover {
    color: #ccc;
}


/*header end++++++++++*/


/*content +++++++++++++++++++*/

.content {
    margin-top: 50px;
}

#newspage h1 {
    text-align: center;
    color: #ffffff;
    margin-top: 1em;
}

#newspage p {
    line-height: 2em!important;
    text-indent: 2em!important;
    font-size: 20px;
    color: #ffffff!important;
    margin-top: 1em!important;
}

 .content p {
        width: 100% !important;
    }
/* 判断移动设备*/

@media only screen and (max-device-width: 860px) {
    .content p {
        width: 100% !important;
    }
}


