
/*content article*/

.article-content span {
    color: #616161;
}
.news-item{
	    margin-top: 20px;
}
/*content end+++++++++++++++*/


/* 判断移动设备*/

@media only screen and (max-device-width: 860px) {
    .title {
      
    height: 100%;
    }

}
