/*.content缩短与footer之间空白的距离*/

.content {
    padding-bottom: 60px!important;
}


.onlyTvm {
    position: absolute;
    left: 0px;
    top: 10px;
    z-index: 1000
}


/*今日推荐样式*/

.recommendation .article-content img {
    width: 45%;
    border-radius: 50%;
}

.recommendation .artNameBox {
    width: 50%;
    float: right;
    color: yellow;
}

.recommendation .artBox {
    margin-top: 10px;
}

.recommendation .artName,
.recommendation .artist {
    display: block;
}

.recommendation .artName {
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin-top: 5px;
}

.recommendation .artist {
    margin-top: 10px;
    color: #ccc;
    font-size: 0.5em;
}


/*今日推荐样式结束*/
