* {
    margin: 0px;
    padding: 0px
}

li {
    list-style: none
}

a {
    text-decoration: none
}

img {
    border: 0;
}

.wrapper {
    background: url("../resources/index/index_bg_img.jpg");
    background-size: cover;
    width: 100%;
  background-position: center;
}

@media \0screen {
    .wrapper {
        background: url("/gt/resources/index/index_bg_img.jpg");
        width: 100%;
        background-position: center;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/gt/resources/index/index_bg_img.jpg',sizingMethod='scale');
    }
}


/*只对IE8有效*/


/*
媒体查询
*/

@media only screen and (max-device-width: 860px) {
    .content {
        width: 95% ! important;
        padding: 5% 0!important;
    }
    .header {
        width: 95% ! important;
    }
    .header-img1 {
        width: 70%! important;
        margin: 0 auto;
    }
    .header-img2 {
        width: 100%! important;
        margin: 0 auto;
    }
    .header-img3 {
        width: 85%! important;
        margin: -15% auto -25%!important;
    }
    .header-img4 {
        width: 68%! important;
        margin: 0 auto;
    }
    .content img {
        width: 100%;
    }
    .content a {
        width: 30%;
        display: inline-block;
    }
}


/*
媒体查询结束
*/

.header {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10%;
    /*background: yellow;*/
}

.header img {
    /*   display: block;*/
}

.header-img1 {
    width: 500px;
    margin: 0 auto;
}

.header-img2 {
    width: 700px;
    margin: 0 auto;
}

.header-img3 {
    width: 600px;
    margin: -108px auto -190px;
}

.header-img4 {
    width: 400px;
    margin: 0 auto;
}


/*
content

*/

.content {
    width: 800px;
    margin: 0 auto;
    padding: 150px 0;
    /*background: blue*/
}

.content-liMid {
    text-align: center;
}

.content-iconRight {
    float: right;
}
