* {
    margin: 0px;
    padding: 0px
}

li {
    list-style: none
}

a {
    text-decoration: none
}

.wrapper {
    background: url("../resources/index/index_bg_img.jpg");
    background-size: cover;
    width: 100%;
    background-position: center;
}

/*
媒体查询
*/

@media only screen and (max-device-width: 860px) {
    .content {
        width: 95% ! important
       
    }
    .header {
        width: 95% ! important
    }
}

/*
媒体查询结束
*/
.header {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding-top: 130px;
}

.header img {
    display: block;
}

.header-img1 {
    width: 500px;
    margin: 0 auto;
}

.header-img2 {
    width: 700px;
    margin: 0 auto;
}

.header-img3 {
    width: 600px;
    margin: -108px auto -190px;
}

.header-img4 {
    width: 400px;
    margin: 0 auto;
}


/*
content

*/

.content {
    width: 800px;
    margin: 0 auto;
    padding: 150px 0;
}

.content-liMid {
    text-align: center;
}

.content-iconRight {
    float: right;
}
