* {
    padding: 0;
    margin: 0
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow-x: hidden;
    min-width: 320px;
}

div {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: arial;
    vertical-align: baseline;
}

#wrapper {
    display: none;
}

.page {
    display: block;
    min-width: 320px
}


/*header*/

.ui-new-toolbar {
    background-image: url(../image/phone/bg-news-logo.png);
    background-repeat: no-repeat;
    background-position: center 6px;
    background-size: 77px auto;
    position: relative;
    min-width: 320px;
    height: 44px;
    z-index: 2;
    background-color: #3e98f0;
    text-align: center;
    font-weight: 400;
    color: #fff;
    -webkit-background-size: 77px auto;
}

.ui-new-toolbar-l {
    float: left;
    height: 44px;
}

.ui-new-toolbar-baidu {
    background-position: center 4px;
    border: 0;
    background-image: url(../image/phone/bg-new-toolbar.png);
    background-size: 40px 500px;
    -webkit-background-size: 40px 500px;
    background-repeat: no-repeat;
    width: 34px;
    height: 100%;
    font-size: 15px;
    line-height: 44px;
    float: left;
}

.ui-new-toolbar-userhome {
    background-position: center -463px;
    margin-left: 10px;
    border: 0;
    background-image: url(../image/phone/bg-new-toolbar.png);
    background-size: 40px 500px;
    -webkit-background-size: 40px 500px;
    background-repeat: no-repeat;
    width: 34px;
    height: 100%;
    font-size: 15px;
    line-height: 44px;
    float: left
}

.ui-new-toolbar-r {
    float: right;
    height: 44px;
}

.ui-new-toolbar-screen {
    border: 0;
    background-image: url(../image/phone/bg-new-toolbar.png);
    background-size: 40px 500px;
    -webkit-background-size: 40px 500px;
    background-repeat: no-repeat;
    width: 34px;
    height: 100%;
    font-size: 15px;
    line-height: 44px;
    background-position: center -162px;
    margin-right: 10px;
    float: left;
}

.ui-new-toolbar-subscribe {
    border: 0;
    background-image: url(../image/phone/bg-new-toolbar.png);
    background-size: 40px 500px;
    -webkit-background-size: 40px 500px;
    background-repeat: no-repeat;
    background-position: center -107px;
    float: left;
    width: 34px;
    height: 100%;
    font-size: 15px;
    line-height: 44px;
}


/*内容部分*/


/*分割线*/

.navigator {
    position: relative;
    background-color: #3e98f0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    z-index: 2;
    color: #fff;
}

.divider {
    height: 1px;
    margin: 0 10px;
    background-color: #5dabf0;
}

.content {
    padding-top: 3px;
    padding-bottom: 5px;
}

.content table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

.content td {
    height: 33px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
}

.content td>div {
    position: relative;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.content td b {
    position: absolute;
    top: 10px;
    height: 12px;
    width: 1px;
    display: block;
    overflow-y: hidden;
    background-color: #5dabf0;
}

.content .down-triangle {
    display: inline-block;
    position: absolute;
    right: 4px;
    top: 14px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
}

.sections {
    position: relative;
    z-index: 1;
    top: -2px;
    /*min-height: 800px;*/
}

.subpage {
    position: relative;
    margin-top: -1px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.topic {
    background: url(../image/phone/topic_bg.png);
    background-size: 100px 100px;
    -webkit-background-size: 100px 100px;
    position: relative;
    z-index: 1;
    padding: 5px 5px 0;
}

.banner {
    widows: 365px;
    height: 224px;
    padding-bottom: 7px;
    overflow: hidden;
}

.swiper-wrapper img {
    width: 100%;
    /*height: 224px;*/
    min-height: 187px;
    vertical-align: middle;
}


/*滚动条*/

.swiper-pagination {
    width: 97%;
    bottom: -3px;
    margin: 0 auto;
    /*background-color: #B8BBC0;*/
}

.swiper-pagination-bullet {
    width: 25%;
    height: 3px;
    display: inline-block;
    border-radius: 0;
    background: #000;
    opacity: .2;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff;
}

.news-title {
    position: absolute;
    bottom: -4px;
    background: #C1C0C0;
    /* height: 5px; */
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    text-align: left;
}

.news-title h4 {
    margin: 5px;
    font-family: arial
}


/*热点新闻*/

.ui-hotword {
    height: 28px;
    background-color: #f8f9fa;
    overflow: hidden;
    margin: 10px 10px 0;
}

.ui-hotword-left {
    width: 36px;
    height: 28px;
    background-color: #e02f2f;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
}

.ui-hotword-content {
    width: 85%;
    color: #545454;
    -webkit-backface-visibility: hidden;
}

.ui-hotword .ui-hotword-item {
    margin-left: 6px;
    line-height: 28px;
    font-size: 15px;
    height: 28px;
}

.ui-hotword ul {
    list-style: none;
    margin-left: 40px;
}

.ui-hotword-item span {
    max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    float: left;
}

.ui-hotword-item-right {
    width: 13px;
    height: 28px;
    display: inline-block;
    background: url(../image/phone/arrorw-right.png) no-repeat;
    -webkit-background-size: 9px 12.5px;
    background-size: 9px 12.5px;
    background-position: 50% 50%;
    margin-left: 2px;
    float: left;
}


/*要闻*/

.news {
    margin: 10px;
}

.news-tiem {
    height: 70px;
}

.news-main img {
    width: 31%;
    min-width: 110px;
    height: 79px;
    float: left;
}

.news-main-title {
    font-size: 14px;
    text-align: left;
    margin-left: 35%;
    overflow: hidden;
}

.news-from {
    float: right;
    margin: 11px;
    background: red;
    color: white;
    padding: 2px;
    border-radius: 2px;
}

.news-time {
    float: left;
    margin: 10px;
    color: #B7B7B7;
}

.news-main {
    float: left;
    margin-top: 3px;
    /* height: 80px;*/
    width: 100%;
}


/*刷新页面*/

.news-refresh-wrapper {
    float: left;
    width: 80%;
    margin: 5px 10%;
    height: 36px;
    line-height: 36px;
    border-radius: 1px;
    color: #545454;
    /* background-color: yellow; */
    background-color: #f8f9fa;
    border: 1px solid #ebedef;
    text-align: center;
    margin-top: 10px;
}

.yincang1 {
    display: none;
}


/*footer*/

.footer {
    width: 100%;
    height: 44px;
    overflow: hidden;
    background-color: #239bf0;
    font-size: 13px;
    line-height: 22px;
}

.item-wrapper {
    float: left;
    width: 33.3%;
    height: 21px;
    overflow: hidden;
    margin-left: -1px;
    margin-top: 12px;
    text-align: center;
    border-left: 1px solid #4fadf0;
    color: #fff;
}

.item {
    display: inline-block;
    height: 100%;
    padding-left: 25px;
    background-image: url(../image/phone/bg-footer.png);
    background-repeat: no-repeat;
    -webkit-background-size: 30px 300px;
}

.feedback {
    background-position: 0 3px;
}

.app-recommend {
    background-position: 0 -31px;
}

.app-download {
    background-position: 0 -64px;
}


/*++++++++++++++++++++++++++++++++++++++百家页面++++++++++++++++++++++++++++++++++++*/

.b-newsimg {
    height: 70px
}

.b-newsimg img {
    width: 33%;
    float: left;
}

.b-subpage {
    width: 95%;
    margin: 10px auto;
}

#bendi .banner img {
    width: 100%;
    height: 224px;
    min-height: 187px;
    vertical-align: middle;
}

.news-title3 {
    font-size: 16px;
    line-height: 20px;
    color: #262b31;
    margin: -1px 0 4px 0;
    text-align: left;
    font-weight: bold;
    /*    background-color: yellow*/
}

.news-item3 {
    margin-top: 10px;
    /*    background-color: aqua;*/
}

.news-content3 {
    font-size: 13px;
    line-height: 20px;
    color: #b8bac0;
    /*  background-color: coral;*/
    display: block;
    font-weight: 400;
    text-align: left;
}

.news-time3 {
       font-size: 13px;
    line-height: 20px;
    color: #9CAFEA;
    font-weight: 400;
    display: block;
    text-align: left;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
.news-main-title2{
    text-align: left;
        font-size: 16px;
    line-height: 20px;
    color: #262b31;
}
.news-time2{
        margin-top: 10px;
    text-align: left;
    display: block;
    color: grey;
}
/*.news-item{
    text-align: left;
    margin-top: 13px;
    color: #BFBFBF;
}*/