* {
    padding: 0;
    margin: 0;
}

body {
    font-family: arial;
    font-size: 12px;
    height: 100%;
    min-width: 1024px
}

body,
button,
input,
select,
textarea,
em {
    font: 12px arial;
}

html {
    height: 100%;
}

li {
    list-style: none;
}

div {
    display: block
}

#wrapper {
    min-width: 1024px;
    height: 100%;
    min-height: 600px;
    position: relative;
}

#head {
    position: relative;
    /*    height: 80%;*/
    text-align: center;
}

#head .h_form {
    position: relative;
    top: 10%;
    display: block;
}

#head .h_content {
    position: relative;
}


/*选项栏*/

#headerlist {
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
    z-index: 999999;
    color: white;
    position: absolute;
    top: 0;
}

#headerlist ul {
    float: right
}

#headerlist li {
    list-style: none;
    float: left;
    position: relative;
}

#headerlist li a {
    font-size: 13px;
    color: #676767;
    height: 32px;
    line-height: 32px;
    display: block;
    margin-right: 20px;
}

#headerlist li a:hover {
    color: #00c;
}

#headerlist li a.headerlist_a {
    font-weight: bold;
}

#headerlist li a#headerlist_more {
    background: #38f;
    color: white;
    text-decoration: none;
    width: 80px;
    margin: 0;
}

#headerlist .s-upfunc-menus {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    height: 32px;
    padding-right: 15px;
}


/*logo部分*/

.head_wrapper {
    position: relative;
    z-index: 2;
    height: 38.2%;
    min-height: 293px;
    width: 1000px;
    margin: 0 auto 30px;
}

.s-weather-wrapper {
    float: left;
    height: 34px;
}

.city-wather {
    display: block;
    cursor: pointer;
    height: 20px;
    white-space: nowrap;
}

.s-mod-weather {
    margin: 7px 0 0 15px;
    float: left;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    /*   margin: 6px 0 0 7px;*/
}

.s-mod-weather .show-weather,
.s-mod-weather .show-pollution {
    display: inline-block;
    height: 20px;
}

.s-mod-weather .polution-level-10 .show-polution-name,
.s-mod-weather .polution-level-20 .show-polution-name {
    color: #badc00;
    font-weight: bold;
    margin-right: 7px;
}

.show-vertical {
    padding: 0;
    /* margin: 0; */
    margin: 0 7px;
}

.s-mod-weather .show-icon {
    margin-right: 9px;
}

.s-mod-weather .show-icon .weather-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background-image: url(../image/a1.png);
}

.show-weather span {
    color: grey;
}

.s-upfunc-menus .s-icons {
    float: left;
    display: inline;
}

.s-upfunc-menus .s-icons a {
    position: relative;
    height: 32px;
    line-height: 32px;
    margin-right: 19px;
    color: #555;
    text-decoration: underline;
    outline: none;
    display: inline-block;
    text-shadow: none;
}


/*设置下拉菜单栏*/

#set {
    display: none;
    position: absolute;
    right: 77px;
    top: 24px;
    z-index: 999999;
}

#set ul li {
    float: none;
    width: 55px;
    background: #eee;
    font-size: 13px;
    padding: 5px 7px;
    box-shadow: 0 5px 10px #9C9C9C;
    cursor: pointer;
    list-style: none;
    color: black;
}

#set ul li:hover {
    background: #38f;
    color: white;
}

#set ul #set_div {
    border-width: 0 6px 10px 6px;
    border-style: solid;
    border-color: transparent transparent #cccccc transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    width: 0;
    height: 0;
    margin-left: 27px;
}

#set ul #set_div2 {
    border-width: 0 6px 10px 6px;
    border-style: solid;
    border-color: transparent transparent #eee transparent;
    width: 0;
    height: 0;
    margin-left: 27px;
    margin-top: -107px;
}


/*个人中心*/

#vip {
    display: none;
    position: absolute;
    right: 132px;
    top: 24px;
    z-index: 999999;
}

#vip ul li {
    float: none;
    width: 55px;
    background: #eee;
    font-size: 13px;
    padding: 5px 7px;
    box-shadow: 0 5px 10px #9C9C9C;
    cursor: pointer;
    list-style: none;
    color: black;
}

#vip ul li:hover {
    background: #38f;
    color: white;
}

#vip ul #vip_div {
    border-width: 0 6px 10px 6px;
    border-style: solid;
    border-color: transparent transparent #cccccc transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    width: 0;
    height: 0;
    margin-left: 27px;
}

#vip ul #vip_div2 {
    border-width: 0 6px 10px 6px;
    border-style: solid;
    border-color: transparent transparent #eee transparent;
    width: 0;
    height: 0;
    margin-left: 27px;
    margin-top: -107px;
}


/*右边栏样式*/

#more_tips {
    display: none;
    opacity: 1;
    position: absolute;
    z-index: 9999999999;
    right: 0;
    top: 0;
    width: 85px;
    border-left: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f9f9f9;
    overflow: hidden;
}

#more_tips ul li {
    border-bottom: 1px solid #E2E2E2;
    margin: 10px;
}

#more_tips ul li .more_tips_a {
    text-decoration: none;
}

#more_tips #all {
    height: 45px;
    line-height: 45px;
    background-color:
}

#more_tips ul li:hover {
    background: #eee;
    box-shadow: 0 4px 21px -5px;
}

#more_tips span {
    display: block;
}

#more_tips .more_tips_m {
    color: #333;
    text-align: center;
    width: 66px;
    height: 30px;
    line-height: 34px;
    padding-bottom: 10px;
    margin: 0 auto;
    border-bottom: #f0f0f0 1px solid;
    font-size: 13px;
    /*cursor: default;*/
}


/*logo与搜索框*/

.h_form {
    position: relative;
    z-index: 2;
    height: 38.2%;
    min-height: 293px;
    width: 1000px;
    margin: 0 auto;
    /*    background: grey*/
}

.h_content {
    width: 641px;
    height: 100%;
    min-height: 293px;
    margin: 0 auto 0 auto;
    text-align: left;
    z-index: 100;
    /*   background: aqua;*/
}

.logo {
    height: 61.8%;
    min-height: 181px;
    position: relative;
    z-index: 0;
    text-align: center;
}

.logo img {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -135px;
}

.h_form #form {
    margin: 22px auto 0;
    width: 641px;
    text-align: left;
    z-index: 5;
    position: relative;
}

.ipt {
    float: left;
    width: 520px;
    height: 34px;
    padding-left: 10px;
    font-size: 15px;
    border: 1px solid #b8b8b8;
    border-right-color: #38f;
    outline: 0
}

.ipt:hover {
    border-color: #A7A5A5
}

.btn {
    float: left;
    width: 100px;
    height: 36px;
    background: #38F;
    border: #38F;
    color: white;
    cursor: pointer;
}

.ipt:focus {
    border: 1px solid #38F;
}


/*、、、、、、、、、、、、、、、、、、、、、、、、、、、*/


/*内容部分*/

.s_wrap {
    width: 100%;
    margin: 0 auto;
    position: relative;
    min-width: 1024px;
    /*background: #E6D5E6;*/
}

#s_main {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 895px;
    position: relative;
}

.s-mancacrd-main {
    position: relative;
    z-index: 1;
}

.s-menu-gurd,
.s-menu-container {
    width: 100%;
    min-height: 35px;
    /*height: 35px;*/
}

.s-menu-container {
    position: relative;
    z-index: 0;
    width: 893px;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
    border-top: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    height: 39px;
    line-height: 39px;
}

.s-menu-mine {
    float: left;
    text-align: left;
    width: 124px;
}

.mine-icon {
    margin: 11px 0 0 20px;
    width: 20px;
    height: 18px;
    background: url(../image/sprite.png) no-repeat -15px 0;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}

.mine-text {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    cursor: pointer;
}


/*
.s-menu-mine:hover {
    background-color: #b3b6bb;
    color: white;
}*/

#tuijian:hover,
#shipin:hover,
#gouwu:hover,
#daohang:hover,
.s-menu-mine:hover {
    background-color: #b3b6bb;
    color: #fff
}

.s-menu-setting {
    float: right;
    width: 18px;
    padding: 0 21px 0 11px;
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}

.menu-icon {
    width: 100%;
    height: 18px;
    margin-top: 11px;
    overflow: hidden;
    background: url(../image/sprite.png) no-repeat -121px -49px;
}

.menu-icon:hover {
    background: url(../image/sprite.png) no-repeat -121px -73px;
}

.s-m-c-ul {
    float: left;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-align-items: stretch;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    -moz-align-items: stretch;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -ms-align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 719px;
    /*background:yellow;*/
}

.s-m-c-ul li {
    float: left;
    color: #333;
    width: 80px;
    height: 39px;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    background-image: none !important;
    filter: none !important;
}

#shipin {
    background-color: #9A9DA2;
    color: #fff
}


/*.s-m-c-li1 {
    background-color: #9a9da2 !important;
}
*/


/*.s-m-c-li1:hover {
    background-color: #9a9da2 !important;
}*/


/*.s-m-c-ul li:hover {
    background-color: #b3b6bb;
    color: #fff;
}*/

.s-ctner-contents {
    width: 893px;
    min-height: 363px;
    /*_height: 363px;*/
    /*_overflow: visible;*/
    border: 1px solid #e9e9e9;
}


/*2号推荐新闻*/

.s-ctner-contents #s_content_2 {
    display: none
}

.s-ctner-contents #s_content_2 #new-lists {
    /*       background: yellow;*/
    /* float: left; */
    margin: 10px 20px;
    width: 507px;
    text-align: left;
}

#new-lists li h2 {
    padding: 30px 0;
    font-size: 21px;
}

#new-lists li h2 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#new-lists a:hover {
    color: #0079f4;
}

#new-lists li {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #e9e9e9;
    ;
}

#new-lists p {
    color: rgba(0, 0, 0, 0.5);
}


/*1号我的关注*/

.s-ctner-contents #s_content_1 {
    padding-bottom: 21px;
    min-height: 318px;
    display: none;
}

.s-code-blocks {
    position: relative;
    width: 100%;
    margin-top: 13px;
    margin-bottom: 10px;
    _margin-bottom: 5px;
    background: url(../../img/mine/blank_796b451b.png) repeat;
    _overflow: hidden;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    _border: 0;
    _margin-top: 13px;
}

.s-block-container {
    width: 844px;
    overflow: hidden;
    border-bottom: 1px solid #e9e9e9;
}

.mine-title-icon {
    position: relative;
    z-index: 0;
    font-size: 0;
    float: left;
    margin: 8px 0 0 22px;
    border: 7px solid rgba(0, 0, 0, 0);
    border-left: 10px solid #959494;
}

.mine-title .mine-title-icon em {
    top: 0;
    left: 3px;
    border-top: 5px dashed transparent;
    border-left: 5px solid #666;
}

.myleader {
    float: left;
    font-size: 15px;
}

.mine-title-text {
    line-height: 30px;
    _line-height: 35px;
    height: 30px;
    font-weight: bold;
    margin-right: 4px;
}

.mine-title-num {
    _line-height: 27px;
    height: 30px;
    color: #666;
}

.tips-manager-area {
    position: relative;
    height: 30px;
    line-height: 30px;
    text-align: left;
    margin-top: 13px;
}

.tips-manager-btn {
    height: 30px;
    line-height: 30px;
    margin-left: 25px;
    width: 80px;
    cursor: pointer;
}

.tips-manager-btn .manager-btn-icon {
    height: 12px;
    width: 12px;
    font-size: 0;
    background: url(../image/sprite2.png) no-repeat 0 0;
    display: block;
    margin: 9px;
    float: left;
}

.tips-manager-btn .manager-btn-text {
    font-size: 14px;
    color: #333;
    padding-left: 6px;
}


/*三号导航*/

#s_content_3 {
    display: none
}

.form1 {
    margin: 10px auto;
    width: 92%;
}

.form1 table {
    width: 100%;
}

.form1 table th {
    text-align: left;
    font-size: 15px;
}

.form1 table img {
    border: 1px solid white;
    cursor: pointer;
}

.form1 table img:hover {
    border: 1px solid #e9e9e9;
}


/*四号视频*/

.form3 {
    margin: 10px auto;
    width: 96%;
}

.form3 table {
    width: 100%;
}

.form3 table span {
    display: block;
    line-height: 22px;
    text-align: left;
}

.form3 table td {
    width: 203px;
    height: 124px;
    /*    font-size: 15px;
    color: red;
    font-weight: bold;*/
    padding-bottom: 10px;
    padding-top: 10px;
    background: #F5F5F5;
    position: relative;
    cursor: pointer;
}

.form3 table .movie {
    font-size: 15px
}

.form3 table .movie_img {
    float: left
}

.form3 table .p1 {
    top: 10px;
    position: absolute;
}

.form3 table .p2 {
    position: absolute;
}

.form3 table .target {
    width: 46px;
    height: 23px;
    position: absolute;
    position: absolute;
    top: 20px;
    right: 5px;
    display: none;
}

.form3 table .target .target1 {
    background: url(../image/sprite3.png) no-repeat;
    background-position: -4px -2px;
    width: 18px;
    height: 18px;
}

.form3 table .target .target2 {
    position: absolute;
    right: 5px;
    top: 0;
    background: url(../image/sprite3.png) no-repeat;
    background-position: -48px -2px;
    width: 18px;
    height: 18px;
    z-index: 1;
}

.form3 table .target-td:hover .target {
    display: block;
}

.form3 table .p1:hover .target {
    display: block;
}

.form3 table .p2:hover .target {
    display: block;
}


/*五号导航*/

#s_content_5 {
    display: none
}

.form2 {
    margin: 10px auto;
    width: 96%;
}

.form2 table {
    width: 100%;
}

.form2 table td {
    width: 203px;
    height: 124px;
    font-size: 15px;
    color: red;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
}

.form2 table td span {
    color: black;
    font-size: 14px;
    font-weight: normal;
    float: left;
    cursor: pointer;
}

.form2 table th {
    text-align: left;
    font-size: 15px;
}

.form2 table img {
    border: 1px solid white;
    cursor: pointer;
    width: 203px;
    height: 124px;
}

.form2 table img:hover {
    border: 1px solid #e9e9e9;
}

.form2 table .foodnum {
    position: absolute;
    bottom: 34px;
    left: 5px;
    width: 96%;
    background-color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
    color: #F8F8F8;
    text-align: left;
    height: 24px;
    line-height: 24px;
    display: none;
}

.form2 table td:hover .foodnum {
    display: block;
}


/*漂浮广告*/

#radio {
    height: 90px;
    position: fixed;
    /* bottom: 0; */
    left: 50%;
    bottom: 20px;
    margin-left: -471px;
    /* overflow: hidden; */
    width: 23px;
    background-color: #2F3544;
}

#radio span {
    display: block;
    margin-top: 10px;
    line-height: 13px;
    color: #fff;
    cursor: pointer;
    font-family: "Hiragino Sans GB", "Microsoft Yahei", "Microsoft 微软雅黑", "黑体", "Arial normal", "宋体", sans-serif;
}

#upbox {
    width: 47px;
    height: 100px;
    position: fixed;
    left: 50%;
    bottom: 20px;
    margin-left: 452px;
}

#goback {
    background: url(../image/sprite4.png) no-repeat 6px 4px;
    background-color: background: url(../image/sprite4.png) no-repeat 5px -1px;
    height: 41px;
    /* width: 48px; */
    background-color: #EEE;
    height: 41px;
    cursor: pointer;
    z-index: 9999999999;
}

#dis-goback a {
    text-decoration: none;
    color: white;
}

#goback:hover #dis-goback {
    display: block;
}

#feedback:hover #dis-feedback {
    display: block;
}

#feedback {
    background: url(../image/sprite4.png) no-repeat 9px -40px;
    height: 41px;
    background-color: #EEE;
    cursor: pointer;
    margin-top: 14px;
    z-index: 9999999999;
}

#dis-goback,
#dis-feedback {
    width: 47px;
    height: 41px;
    background-color: #9a9da2;
    font-size: 13px;
    color: #fff;
    padding-top: 10px;
    display: none;
}


/*footer样式*/

#footer {
    height: 10%;
    position: absolute;
    /*    bottom: -44px;*/
    text-align: center;
    width: 100%;
    min-width: 810px;
    font-size: 12px;
    font-family: arial;
}

#footer ul li {
    display: inline;
    list-style: none;
    color: #00c;
    margin: 10px;
}

#footer p,
#footer p a {
    color: #666;
}

#footer li a {
    color: #00c;
}
