A {
	TEXT-DECORATION: none
}
A {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
BODY {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; MARGIN: 0px; FONT: 12px tahoma,宋体,sans-serif; PADDING-TOP: 20px
}
DT {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; MARGIN: 0px 0px 0px 15px
}
DD {
	MARGIN: 0px 0px 0px 15px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 18px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P A {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #00f
}
P A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #00f
}
.TreeMenu IMG.s {
	VERTICAL-ALIGN: middle; CURSOR: hand
}
.TreeMenu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.TreeMenu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.Closed UL {
	DISPLAY: none
}
.Child IMG.s {
	BACKGROUND: none transparent scroll repeat 0% 0%; CURSOR: default
}
font{
	font-size:12px;
}
#CategoryTree UL {
	MARGIN: 0px 0px 0px 17px
}
#CategoryTree IMG.s {
	WIDTH: 34px; HEIGHT: 18px
}
#CategoryTree .Opened IMG.s {
	BACKGROUND: url(../images/opened.gif) no-repeat 0px 1px
}
#CategoryTree .Closed IMG.s {
	BACKGROUND: url(../images/closed.gif) no-repeat 0px 1px
}
#CategoryTree .Child IMG.s {
	BACKGROUND: url(../images/child.gif) no-repeat 13px 2px
}
#CategoryTree {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px
}
