* {
    padding: 0;
    margin: 0;
}

body {
    background: #DFDEDE;
}

p {
    text-indent: 2em
}


/*页面整体样式*/

.wallper {
    width: 90%;
    min-width: 1140px;
    background: white;
    margin: 0 auto;
    font-size: 15px;
    font-family: "微软雅黑";
}

.header,
.article,
.footer {
    width: 100%;
}


/*头部样式*/

.header {
    height: 70px;
    line-height: 70px;
    margin: 0px auto;
    border-bottom: 4px solid #38C05D;
}

.header img {
    width: 113px;
    height: 47px;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}

.header h1 {
    margin: 0 auto;
    width: 120px;
}


/*正文样式*/

.article {
    margin-top: 20px;
    overflow: hidden;
    height: 540px;
}

.article .middle {
    float: left;
    width: 100%;
}

.article .middle .inner {
    margin-left: 400px;
    margin-right: 400px;
}

.inner .inner_content {
    text-align: center;
}

.inner h2 {
    background: url(http://baike.bdimg.com/static/wiki-lemma/normal/resource/img/paraTitle-line_c5e6d61.png) repeat;
    border-left: 20px solid #38C05D;
    margin-right: 20px;
}

.article .middle .inner p {
    font-size: 16px;
    font-family: "宋体";
    line-height: 30px;
}

.article .middle .inner .about {
    font-size: 15px;
    color: dimgrey;
}

.article .middle .inner .about span {
    color: #3333ff;
}


/*左翼样式*/

.article .left {
    float: left;
    width: 400px;
    margin-left: -100%;
    margin-bottom: 9999px;
    padding-bottom: 9999px;
}

.left h2 {
    background: url(http://baike.bdimg.com/static/wiki-lemma/normal/resource/img/paraTitle-line_c5e6d61.png) repeat;
    border-left: 20px solid #38C05D;
    margin-right: 20px;
}

.left_content {
    margin: 5px 15px;
    line-height: 25px;
}

.title {
    width: 70px;
    padding-right: 10px;
    padding-left: 10px;
    background: white;
}

.left_content img {
    float: right;
    margin: 3px;
}


/*右翼样式*/

.article .right {
    float: right;
    width: 400px;
    margin-left: -400px;
    margin-bottom: 9999px;
    padding-bottom: 9999px;
}

.right h2 {
    background: url(http://baike.bdimg.com/static/wiki-lemma/normal/resource/img/paraTitle-line_c5e6d61.png) repeat;
    border-left: 20px solid #38C05D;
    margin-right: 20px;
}

.right_content {
    margin: 5px 15px;
    line-height: 30px;
}


/*页脚样式*/

.footer {
    height: 50px;
    line-height: 50px;
    background: #CDF6D9;
    font-size: 12px;
    color: #999;
    margin: 0 auto;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #999;
}
