* {
    padding: 0;
    margin: 0
}
body{
	 font-family: "微软雅黑";
}
#wrapper {
    width: 100%;
    background: #F2F4F4;
}
/*头部*/
.header {
      height: 70px;
    width: 100%;
    min-width: 1000px;
    line-height: 70px;
    background: #232B2D;
    color: white;
    position: fixed;
    z-index: 10;
}

.header img {
    width: 113px;
    height: 45px;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}

.header h1 {
       margin: 0 auto;
    width: 165px;
    line-height: 58px;
}
/*瀑布流部分*/
#container {
    width:1017px;
    height: 500px;
    position: relative;
    top:70px;
    background: white;
    padding-left:5px;
    margin:0 auto;

}

.box {
    position: relative;
    float: left;
    width: 203px;
    cursor: pointer;
}

.content {
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
}

.content img {
    width: 100%;
    height: auto;
}

.box:hover {
    box-shadow: 4px 4px 15px #888;
}

.news {
    position: absolute;
    bottom: 0;
    opacity: 0;
    background: rgba(251, 251, 251, 0.72);
    -webkit-transition: opacity 0.5s;
}

.box:hover .news {
    opacity: 1
}

.news a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-family: "微软雅黑"
}
