* {
    padding: 0;
    margin: 0;
    font-family: "微软雅黑"
}


/*头部样式*/

#header {
    height: 100px;
    width: 500px;
    display: block;
    float: right;
}

#headerlist {
    float: right;
    margin: 20px;
    margin-bottom: 0;
}

#headerlist li {
    list-style: none;
    float: left;
}

#headerlist li a {
    padding: 0 11px;
    font-size: 13px;
    color: black;
    height: 24px;
    line-height: 24px;
    display: block;
}

#headerlist li a:hover {
    color: #00c;
}

#headerlist li a.headerlist_a {
    font-weight: bold;
}

#headerlist li a#headerlist_more {
    padding: 0 5px;
    background: #38f;
    color: white;
    margin-left: 15px;
    text-decoration: none;
    display: block;
}

#headerlist li a#headerlist_more:hover {
    background: #2B78EA
}


/*Logo样式*/

#banner {
    height: 132px;
    width: 300px;
    display: block;
    margin: 0 auto;
    clear: both;
}

#banner img {
    width: 270px;
    height: 129px;
}


/*页面内容样式*/

#content {
    height: 250px;
    text-align: center;
}

#con_inp {
    margin: 22px auto 44px auto;
    width: 640px;
    height: 36px
}

#con_txt {
    width: 539px;
    height: 34px;
    border: 1px solid #b6b6b6;
    border-right: 0;
    font-size: 14px;
}

#con_sub {
    width: 100px;
    height: 36px;
    border: 1px solid #3385ff;
    font-size: 14px;
    background: #3385ff;
    color: white;
    cursor: pointer;
}

#con_sub:hover {
    background: #2B78EA
}

#content a {
    font-size: 13px;
    color: #666;
    width: 200px;
}


/*页面内容样式*/

#footer {
    text-align: center;
    font-size: 12px;
    color: #666;
    margin: 0 auto;
    margin-top: 250px;
    height: 100px;
    width: 400px;
}

#footer ul li {
    display: inline;
    list-style: none;
    color: #00c;
    margin: 10px;
}

#footer p a {
    color: #666;
}
